<mat-sidenav-container class="">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/task">
                <i class="material-icons">
                    search
                </i>
                Pesquisar tafera
            </a>
            <a mat-list-item routerLink="/task/adicionar">
                <i class="material-icons">
                    add
                </i>
                Adicionar tafera
            </a>
            <a mat-list-item  routerLink="/task/alterar">
                <i class="material-icons">
                    edit
                </i>
                Alterar tafera
            </a>
            <a mat-list-item  routerLink="/task/deletar">
                <i class="material-icons">
                    delete
                </i>
                Deletar tafera
            </a> 
            <a mat-list-item routerLink="/task/pesquisa">
                <i class="material-icons">
                    search
                </i>
                Pesquisar esp.
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
         <router-outlet></router-outlet>
        <!-- <app-home></app-home> -->
    </mat-sidenav-content>
</mat-sidenav-container>
