.custom-snackbar {
    background-color: black;
  }
  
  .custom-snackbar .mat-snack-bar-container {
    color: white;
  }

  .custom-snackbar {
    background-color: black;
    width: 300px; /* Largura personalizada */
    height: 100px; /* Altura personalizada */
  }
  