/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~primeicons/primeicons.css";
// @import "~primeflex/primeflex.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #e35e6b;
}

.v-middle {
    vertical-align: middle;
}

.custom-snackbar {
    background-color: #2196f3; 
    color: white;
  }
  
.error-snackbar {
    background-color: #f3baba; 
    color: #1d1c1c; 
}
  
.success-snackbar {
    background-color: #caf1cc;
    color: #1d1c1c;
}
  
.default-snackbar {
    background-color: #646363; 
    color: #1d1c1c; 
}
  