/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~primeicons/primeicons.css";
// @import "~primeflex/primeflex.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/bootstrap4-light-blue/theme.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #e35e6b;
}

.v-middle {
    vertical-align: middle;
}